*, *::before, *::after {
    box-sizing: border-box;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #4141df, #00ffc8)
}

h1 {
    text-align: center;
    border: red solid 1px;
}

h2 {
    padding: 20px;
    min-height: 135px;
    text-align: center;
    border: red solid 1px;
}

h3 {
    text-align: center;
}

button {
    border: red solid 1px;
}

